@model Zajezdnia.Models.Zajezdnia_autobusow
@{
    ViewData["Title"] = "Dodaj zajezdnię";
}

<h2>Dodaj nową zajezdnię</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nazwa"></label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Adres"></label>
        <input asp-for="Adres" class="form-control" />
        <span asp-validation-for="Adres" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Miasto"></label>
        <input asp-for="Miasto" class="form-control" />
        <span asp-validation-for="Miasto" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Dodaj</button>
    <a class="btn btn-secondary" href="@Url.Action("Index")">Anuluj</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}